# Go binaries and build artifacts
*.exe
*.dll
*.so
*.dylib
*.test
*.out
bin/**
/xatu-cbt
.gocache/

# Go coverage
*.coverprofile
coverage.txt

# Environment variables
.env
.env.*
!example.env

# Xatu
xatu/

# Python
__pycache__